<h1>About Recruiter</h1>
<p>Recruiter is a brand new application to help you manage your recruitment business.  It allows you your clients and potential candidates to enter their own details and then you can easily match the requirements.</p>
